<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Fecha publicacion</th>
      <th>Estado de publicacion</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.autor %></td>
        <td><%= post.fecha_publicacion %></td>
        <td><%= post.estado_de_publicacion %></td>
        <td><%= post.contenido %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Post', new_post_path %>
<%= link_to 'Regresar al Home', root_path %>
