<div class="container">

<div class="jumbotron">
  <div class="container">
    <h1>
     <strong>Titulo:</strong>
     <%= @post.titulo %>
    </h1>
    <p>
      <strong>Autor:</strong>
      <%= @post.user_id %>
    </p>

    <p>
      <strong>Fecha publicacion:</strong>
      <%= @post.fecha_publicacion %>
    </p>

    <p>
      <strong>Estado de publicacion:</strong>
      <%= @post.estado_de_publicacion %>
    </p>

    <p>
      <strong>Contenido:</strong>
      <%= @post.contenido %>
    </p>

  </div>
</div>
<p>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
</p>
  

<p id="notice"><%= notice %></p>
</div>
