<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
    <%=link_to "Nuevo_blog", root_path, class:"navbar-brand" %>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "inicio", root_path %>
      </li>
      <li>
        <%= link_to "posts", posts_path %>
      </li>
       <li>
        <%= link_to "users", users_path %>
      </li>
    </ul>
  </nav>
  <div class="container">
  <%= yield %>
    
  </div>


</body>
</html>
